@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500;600&display=swap');
@import "tailwindcss";


.nav-bar, a {
  font-family: 'IBM Plex Mono', monospace;
  color: #E5E7EB;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.01em;
}

h1{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.01em;
}