---
import '../styles/global.css'
---

<nav class="nav-bar  h-10 bg-[#111827] flex justify-center">
	<div class="nav-links w-[80%]  m-auto">
		<ul class="flex flex-2 gap-5 justify-center content-stretch">
			<li><a href="/dashboard/">Dashboard</a></li>
			<li><a href="/research">People</a></li>
		</ul>
	</div>
</nav> 