---
import '../../styles/global.css'
---

<!-- HEADER -->
<div class="profile-up flex w-full bg-[url(/home/red/Scanny/public/world.svg)] h-[35%] border-blue-500 border-solid border-b-4 items-end ">
  <img src="/home/red/Scanny/public/user-circle-o-svgrepo-com.svg" alt="" class="flex h-[60%] w-[15%] object-contain bg-amber-200 ml-[20%] ">
</div>

<div class="flex h-full justify-center p-1.5">
  <div class="grid grid-cols-2 grid-rows-6 h-full w-[97%] gap-3 ">
    <div class="data-square flex justify-center items-center">
      <div class="h-[95%] w-[95%] bg-amber-300">
          <div class="">

          </div>
      </div>
    </div>
    <div class="data-square"></div>
    <div class="data-square"></div>

    <div class="data-square"></div>
    <div class="data-square"></div>
    <div class="data-square"></div>
  </div>
</div>



<style>

.data-square{
  border: solid;
  border-radius: 20px;
  border-color: #3b82f6;

}

</style>
