---
import List from "./load_data.vue";

  
---

<div class="flex w-full h-full justify-center">
  <div class="flex w-[96%] h-full border-2 border-blue-400 mt-4 rounded-xl justify-center items-center">
    <div class="data-box-frame h-[96%] w-[97%] flex gap-5">
      <List client:load class="h-full w-full"/>
    </div>
  </div>
</div>

<style>

</style>